@import 'tailwindcss';

@theme inline {
  --text-xsp: 13px;
  --text-smp: 15px;
  --text-mdp: 17px;
  --color-primary: #1dbab5;
  --color-secondary: #8d1ec9;
}

@layer base {
  body {
    @apply flex min-h-dvh flex-col overflow-x-hidden;
  }
  input {
    @apply outline-none;
  }
  main {
    @apply flex h-full flex-1 flex-col gap-5 pt-6 pb-10;
  }
  button {
    @apply cursor-pointer;
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* DatePicker primary color styles */
.rmdp-wrapper {
  --rmdp-primary-color: #1dbab5;
  --rmdp-secondary-color: #1dbab5;
  --rmdp-hover-color: #1dbab5;
  --rmdp-selected-color: #1dbab5;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #1dbab5 !important;
  box-shadow: 0 0 3px #1dbab5 !important;
}

.rmdp-day.rmdp-today span {
  background-color: #1dbab5 !important;
  color: white !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #1dbab5 !important;
  color: white !important;
}

.rmdp-arrow {
  border-color: #1dbab5 !important;
}

.rmdp-arrow-container:hover {
  background-color: #1dbab5 !important;
  box-shadow: 0 0 3px #1dbab5 !important;
}
